a {
  text-decoration: none;
  box-shadow: none;
}

a:hover {
  text-decoration: underline;
}

.gatsby-remark-code-filename {
  margin-bottom: -0.6rem;
  padding: 0.5em 1em;

  background-color: black;
  color: white;

  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
