.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
}

.header {
  a {
    color: #333;
    font-size: 1.5rem;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
  }

  a:hover {
    text-decoration: none;
  }

  margin-bottom: 20px;
}

.homeHeader {
  a {
    font-size: 3rem;
  }
  margin-bottom: 30px;
}

.footer {
  margin-top: 28px;
  padding-top: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
  border-top: 1px solid #bbb;
  font-size: 0.75rem;
}
